<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>About</title>
</head>
<body>
    <div class="about">
        <div class="about-content">
        <h2 class="heading">About <span>Us</span></h2>
        <p>A coffeehouse as been establishment that serves various types of coffee, espresso, latte, americano and cappuccino.</p>
        <a href="#" class="btn">Read More</a>
        </div>
    </div>
</body>
</html>