<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Contact</title>
</head>
<body>
    <div class="contact" id="contact">
        <h2 class="heading">Contact <span>Us</span></h2>
        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email">
            </div>
            <div class="input-box">
                <input type="number" placeholder="Phone">
                <input type="text" placeholder="Subject">
            </div>
            <textarea name="" id="" cols="35" rows="15" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
        <footer class="footer">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <div class="social">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                <a href="#"><i class="fa-sharp fa-solid fa-signal"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <ul class="list">
                <li><a href="#">FQA</a></li>
            </ul>
            <ul class="list">
                <li><a href="#">Products</a></li>
            </ul>
            <ul class="list">
                <li><a href="#">About Us</a></li>
            </ul>
            <ul class="list">
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="list">
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Ⓒ CoffeeShop | All Rights Reserved</p>
        </footer>
    </div>    
</body>
</html>