<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Reviews</title>
</head>
<body>
    <div class="reviews" id="reviews">
        <h2 class="heading">Reviews</h2>
        <ul class="menu">
            <li><a href="{% url 'homepage' %}">BACK</a></li>
        </ul>
        <div class="reviews-container">
            <div class="reviews-box">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <i class="fa-solid fa-circle-user"></i>
                <h3>Review 1</h3>
                <p>Amazing coffee and the owner is just wonderful. The vanilla latte will never disappoint!</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="reviews-box">
                <i class="fa-solid fa-circle-user"></i>
                <h3>Review 2</h3>
                <p>This is a great coffee shop/bar combo that you can spend a lot of time hanging out.</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="reviews-box">
                <i class="fa-solid fa-circle-user"></i>
                <h3>Review 3</h3>
                <p>Indoor seating is generally good if available. Will definitely be making a return trip.</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="reviews-box">
                <i class="fa-solid fa-circle-user"></i>
                <h3>Review 4</h3>
                <p>My absolute favorite coffee bar. Their nitro cold brew is amazeballs.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>

    </div>
</body>
</html>